*{
 margin: 0;
 padding: 0;
}
html{
	background: -webkit-radial-gradient(center, ellipse, #430d6d 0%, #000000 100%);  
    background: radial-gradient(ellipse at center, #430d6d 0%, #000000 100%);  
    height: 100%;  
}
body{

}
/* 展示舞台 */
 .stage  
       {  
          perspective: 1000px;    
           width: 20em;  
           height: 20em;  
           left: 50%;  
           top: 50%;  
           margin-left: -10em;  
           margin-top: -10em;  
           position: absolute;
           /* border:#0ff solid 1px;  */
       }  
 /* 立方体 */
       .cube  
       {  
           position: absolute;  
           width: 100%;  
           height: 100%;  
           -webkit-transform-style: preserve-3d;  
           -webkit-transform: rotateX(-20deg) rotateY(-20deg);  
       }  
 /* 立方体每个面的形状	*/
 .cube div{
 	background: -webkit-linear-gradient(left, rgba(54, 226, 248, 0.5) 0px, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), -webkit-linear-gradient(top, rgba(54, 226, 248, 0.5) 0px, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px); 
 	background-size: 5em 5em;
 	/* background: no-repeat; */
 	background-color: rgba(0,0,0,0.5);
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	border: 2px solid rgba(54, 226, 248, 0.5);  
 	-webkit-box-shadow: 0 0 5em rgba(0, 128, 0, 0.4); 
 	box-shadow: 0 0 5em rgba(0, 128, 0, 0.4);   
 } 
/* 六个面 */

       .front  
       {  
           -webkit-transform: translateZ(10em);  
       }  
  
       .back  
       {  
           -webkit-transform: rotateX(180deg) translateZ(10em);  
       }  
  
       .left  
       {  
           -webkit-transform: rotateY(-90deg) translateZ(10em);  
       }  
  
       .right  
       {  
           -webkit-transform: rotateY(90deg) translateZ(10em);  
       }  
  
       .top  
       {  
           -webkit-transform: rotateX(90deg) translateZ(10em);  
       }  
  
       .bottom  
       {  
           -webkit-transform: rotateX(-90deg) translateZ(10em);  
       }  

@keyframes mymove{
	from{
	transform:translateZ(-10em) rotateX(0) rotateY(0);
	}
	to{
		transform:translateZ(-10em) rotateX(360deg) rotateY(360deg);
	}
}

  .Animation{
  	animation:mymove 6s ease-in-out infinite;
  }